.App {
  display: grid;
  place-items: center;
}
.carousel-class{
  height: 400px;
  width: 600px;
  position: relative;
}
.carousel-class > img{
  height:100%;
  width: 100%;
  object-fit: contain;
}

.icon{
  position: absolute;
  top:50%;
  width:50px;
  height: 50px;
  display:grid;
  place-items: center;
}
.previousIcon{
  left:0
}
.nextIcon{
  right:0
}